@model SchoolDb.Models.Course
@{
    ViewBag.Title = "Show";
}

<div>
    <a class="navlink" href="/Course/List">Back To Courses</a>
</div>


<div id="containershow">
    <h2>Course Name: @Model.ClassName</h2>
    <div>Course Code: @Model.ClassCode</div>
    <div>Couse ID: @Model.ClassId</div>
    <div>Start Date: @Model.StartDate</div>
    <div>Finish Date: @Model.FinishDate</div>
</div>

